{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="">

  <header role="banner" class = "header__wrapper" style = "background-image: url({{ header_bg_file }})">
    <div class = "bg-gradient-to-r from-flat-blue">
      <div class = "header">{{ page.banner }}</div>
    </div>
    {% block header_content %}
    {% endblock %}
  </header>



  <main role="main">
    {{  page.highlighted }}

    {{ page.help }}
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div role="contentinfo" class = "messages__wrapper">
      {{ page.messages }}
    </div>

    {% block main_content %}
      <div class="layout-content">
      {{ page.content }}
      </div>
    {% endblock %}
    <div class="triptych px-5 mb-10 lg:mt-2.5 lg:mb-16">
      <section class = "grid grid-cols-1 lg:grid-cols-3 gap-4 max-w-screen-lg container mx-auto pt-8 lg:pl-32">
        <div>
          <h2 class="block__title text-title-blue mb-5 flex items-end text-xl font-bold">Encountered A Problem?</h2>
          <p class="mb-2">
            Please report any problems that you run into while using the service on drupal.org. Also general feedback or support requests are welcome.
          </p>
          <div class="cta-link"><a class="btn hover:bg-red-700" href="https://www.drupal.org/project/issues/simplytest?categories=All"> Report a problem</a></div>
        </div>
        <div>
          <h2 class="block__title text-title-blue mb-5 flex items-end text-xl font-bold">Future Of Simplytest.Me</h2>
          <p class="mb-2">
            Join the conversation about the future of this service on drupal.org
          </p>
          <div class="cta-link"><a class="btn hover:bg-red-700" href="https://www.drupal.org/join-slack">Join the conversation</a></div>
        </div>
        <div>
          <h2 class="block__title text-title-blue mb-5 flex items-end text-xl font-bold">Spread The Word</h2>
          <p class="mb-2">
            If you like the service please consider spreading the word and following me on twitter for updates about the project.
          </p>
          <div class="cta-link social-link"><a class="btn " href="https://twitter.com/simplytestme">Follow</a></div>
        </div>
      </section>
    </div>
  </main>

  <div role="contentinfo" class="bg-light-blue py-5">
    <div class="max-w-screen-lg container mx-auto flex flex-col lg:flex-row gap-8 justify-center items-center">
      <a href="https://www.tugboatqa.com/?utm_campaign=simplytest&utm_source=sponsors">
        <svg class="w-48" viewBox="0 0 183 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.3276 18.9928L13.2669 7.02207C13.0449 6.8017 12.6849 6.8017 12.4629 7.02207L0.402185 18.9928C0.180154 19.2132 0.180154 19.5705 0.402185 19.7909L12.4629 31.7617C12.6849 31.9821 13.0449 31.9821 13.2669 31.7617L25.3276 19.7909C25.5496 19.5705 25.5496 19.2132 25.3276 18.9928Z" fill="#8EB3C1"/>
          <path d="M25.3274 12.6088L13.2667 0.638039C13.0447 0.417664 12.6847 0.417664 12.4627 0.638039L0.401966 12.6088C0.179934 12.8292 0.179935 13.1865 0.401966 13.4069L12.4627 25.3776C12.6847 25.598 13.0447 25.598 13.2667 25.3776L25.3274 13.4069C25.5494 13.1865 25.5494 12.8292 25.3274 12.6088Z" fill="#D4E5EB"/>
          <path d="M22.1111 3.82991L13.2671 12.608C13.1601 12.7135 13.0154 12.7727 12.8647 12.7727C12.7139 12.7727 12.5692 12.7135 12.4623 12.608L10.0504 10.2129C9.9436 10.1075 9.79916 10.0483 9.64859 10.0483C9.49803 10.0483 9.35358 10.1075 9.24682 10.2129L6.83492 12.608C6.78205 12.6603 6.7401 12.7225 6.71148 12.7909C6.68286 12.8593 6.66812 12.9327 6.66812 13.0068C6.66812 13.0809 6.68286 13.1543 6.71148 13.2227C6.7401 13.2911 6.78205 13.3533 6.83492 13.4056L9.64859 16.1983L12.4623 18.9922C12.5151 19.0447 12.5778 19.0864 12.6468 19.1148C12.7159 19.1433 12.7899 19.1579 12.8647 19.1579C12.9394 19.1579 13.0134 19.1433 13.0825 19.1148C13.1515 19.0864 13.2143 19.0447 13.2671 18.9922L25.3278 7.02138C25.3807 6.96897 25.4227 6.90671 25.4514 6.83818C25.48 6.76964 25.4947 6.69617 25.4947 6.62198C25.4947 6.54778 25.48 6.47431 25.4514 6.40578C25.4227 6.33724 25.3807 6.27499 25.3278 6.22257L22.9159 3.82991C22.809 3.72446 22.6643 3.66528 22.5135 3.66528C22.3628 3.66528 22.2181 3.72446 22.1111 3.82991Z" fill="#31758E"/>
          <path d="M56.8493 0.239502V5.16904H49.2447V26.787H43.3987V5.16904H35.8712V0.239502H56.8493Z" fill="#31758E"/>
          <path d="M71.7515 26.8473H66.56V24.427C65.0616 26.5024 63.1803 27.2285 61.0199 27.2285C56.0015 27.2285 54.6433 23.2507 54.6433 18.7551V9.10669H59.8348V18.651C59.8348 21.1064 60.7407 22.9749 63.145 22.9749C65.5493 22.9749 66.5563 21.0725 66.5563 18.6172V9.10669H71.7477L71.7515 26.8473Z" fill="#31758E"/>
          <path d="M94.6033 25.6032C94.6033 32.5881 90.0031 35.3206 84.9165 35.3206C80.9443 35.3206 78.2608 34.3173 76.4515 32.8652L78.5071 28.8523C79.5533 29.7515 81.8881 30.8588 83.8742 30.8588C86.5565 30.8588 89.4144 30.0637 89.4144 26.1901V24.2539C88.1244 26.0872 86.4175 27.2284 83.8035 27.2284C78.3707 27.2284 75.0933 23.0776 75.0933 17.891C75.0933 12.91 78.1256 8.72536 83.6999 8.72536C84.8056 8.72262 85.8971 8.97413 86.8885 9.46018C87.88 9.94622 88.7445 10.6536 89.4144 11.5268V9.10658H94.6033V25.6032ZM84.8749 23.0437C87.4194 23.0437 89.5496 21.4135 89.5496 18.202C89.5496 14.9164 87.5634 12.91 84.7409 12.91C81.8843 12.91 80.281 15.1923 80.281 17.9261C80.2823 20.7602 82.0195 23.0437 84.8812 23.0437H84.8749Z" fill="#31758E"/>
          <path d="M109.142 27.2283C106.529 27.2283 104.822 26.0872 103.532 24.2538V26.8471H98.3405V1.84326H103.532V11.5268C104.202 10.6535 105.066 9.94604 106.058 9.45999C107.049 8.97393 108.141 8.72247 109.247 8.72531C114.822 8.72531 117.853 12.91 117.853 17.8909C117.853 23.0775 114.578 27.2283 109.142 27.2283ZM108.202 12.91C105.379 12.91 103.393 14.9164 103.393 18.2019C103.393 21.4172 105.518 23.0437 108.068 23.0437C110.926 23.0437 112.668 20.7601 112.668 17.9248C112.662 15.1923 111.058 12.91 108.202 12.91Z" fill="#31758E"/>
          <path d="M130.736 8.72534C135.963 8.72534 140.562 12.4611 140.562 17.9599C140.562 23.4926 135.963 27.2284 130.736 27.2284C125.544 27.2284 120.909 23.5278 120.909 17.9599C120.909 12.4259 125.544 8.72534 130.736 8.72534ZM130.736 22.8017C133.315 22.8017 135.51 20.7263 135.51 17.9599C135.52 17.3312 135.404 16.7067 135.169 16.1229C134.933 15.539 134.583 15.0075 134.139 14.5593C133.695 14.111 133.165 13.755 132.581 13.512C131.996 13.2691 131.369 13.1439 130.736 13.1439C130.102 13.1439 129.475 13.2691 128.891 13.512C128.306 13.755 127.777 14.111 127.332 14.5593C126.888 15.0075 126.538 15.539 126.303 16.1229C126.067 16.7067 125.951 17.3312 125.962 17.9599C125.962 20.7601 128.192 22.8017 130.736 22.8017Z" fill="#31758E"/>
          <path d="M162.374 9.10659V26.8472H157.183V24.2539C155.893 26.0872 154.186 27.2284 151.573 27.2284C146.14 27.2284 142.855 23.0776 142.855 17.891C142.855 12.91 145.887 8.72537 151.462 8.72537C152.568 8.72252 153.659 8.97399 154.65 9.46005C155.642 9.9461 156.506 10.6535 157.176 11.5268V9.10659H162.374ZM152.653 23.0437C155.196 23.0437 157.328 21.4135 157.328 18.202C157.328 14.9164 155.342 12.91 152.519 12.91C149.663 12.91 148.059 15.1923 148.059 17.9261C148.053 20.7602 149.795 23.0437 152.653 23.0437Z" fill="#31758E"/>
          <path d="M173.745 9.10673H178.693V13.1522H173.745V21.4525C173.745 22.2137 174.058 23.0088 175.069 23.0088C176.08 23.0088 176.429 22.1786 176.429 21.3484C176.418 20.8327 176.336 20.3209 176.185 19.8273H180.296C180.609 20.4844 180.714 21.3146 180.714 21.9366C180.714 24.57 178.972 27.2285 174.756 27.2285C171.62 27.2285 168.554 26.1212 168.554 20.9685V13.1522H165.87V9.10673H168.944L169.746 4.74902H173.745V9.10673Z" fill="#31758E"/>
          <path d="M180.436 6.21612C181.022 6.21612 181.497 5.74451 181.497 5.16275C181.497 4.58099 181.022 4.10938 180.436 4.10938C179.85 4.10938 179.375 4.58099 179.375 5.16275C179.375 5.74451 179.85 6.21612 180.436 6.21612Z" stroke="#31758E" stroke-miterlimit="10"/>
          <path d="M180.434 4.72269C180.643 4.72269 180.746 4.84809 180.746 4.98478C180.747 5.04381 180.727 5.10132 180.689 5.1472C180.652 5.19308 180.599 5.22437 180.541 5.23558L180.76 5.59925H180.588L180.384 5.24812H180.273V5.59925H180.129V4.72144L180.434 4.72269ZM180.434 4.84057H180.273V5.13401H180.434C180.455 5.13724 180.476 5.13573 180.497 5.12958C180.517 5.12343 180.536 5.11281 180.552 5.09848C180.568 5.08416 180.58 5.06651 180.588 5.04683C180.596 5.02715 180.599 5.00595 180.598 4.98478C180.598 4.897 180.546 4.84057 180.434 4.84057Z" fill="#31758E"/>
        </svg>
      </a>
      <a href="https://www.amazee.io/?utm_campaign=simplytest&utm_source=sponsors">
        <svg class="w-48" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1113.38 522.58" style="enable-background:new 0 0 1113.38 522.58;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#FFFFFF;}
  .st1{fill:#66707A;}
</style>
          <g>
            <path d="M358.24,223.43c-6.92,0-11.42,6.22-11.42,12.51v51.41c0,6.29,4.5,12.51,11.42,12.51c6.92,0,11.41-5.93,11.41-12.51v-51.41
		C369.65,229.36,365.16,223.43,358.24,223.43 M395.33,285.96c0,34.12-22.54,38.91-35.67,38.91h-2.85
		c-13.13,0-35.67-4.79-35.67-38.91v-48.64c0-34.12,22.54-38.91,35.67-38.91h2.85c13.13,0,35.67,4.79,35.67,38.91V285.96z
		 M298.25,167.66l-51.36,191.69c-0.84,3.14-3.69,5.32-6.94,5.32h-4.62c-4.72,0-8.16-4.48-6.94-9.04l51.36-191.69
		c0.84-3.14,3.69-5.32,6.94-5.32h4.62C296.03,158.62,299.47,163.1,298.25,167.66 M197.81,310.42c0,6.31-5.12,11.43-11.43,11.43
		h-2.82c-6.31,0-11.43-5.12-11.43-11.43v-97.56c0-6.31,5.12-11.43,11.43-11.43h2.82c6.31,0,11.43,5.12,11.43,11.43V310.42z
		 M273.19,44.14c-120.12,0-217.5,97.38-217.5,217.5s97.38,217.5,217.5,217.5s217.5-97.38,217.5-217.5S393.31,44.14,273.19,44.14"/>
            <path d="M964.42,286.96c-4.21,0-7.63,3.42-7.63,7.63c0,4.21,3.42,7.63,7.63,7.63c4.21,0,7.63-3.42,7.63-7.63
		C972.05,290.38,968.63,286.96,964.42,286.96 M1024,249.48v30.84c0,6.92,2.54,11.53,9.33,11.53c6.1,0,8.98-3.75,8.98-11.67v-30.69
		c0-6.34-2.2-11.1-9.15-11.1C1026.88,238.39,1024,242.42,1024,249.48 M1057.56,250.2v29.54c0,15.85-9.15,23.63-24.58,23.63
		c-15.76,0-24.24-7.78-24.24-23.49v-30.12c0-15.42,10-22.77,24.75-22.77C1048.75,227,1057.56,235.22,1057.56,250.2 M982.2,228.15
		h15.09v74.07H982.2V228.15z M982.2,201.78h15.26v15.42H982.2V201.78z M934.07,258.13v-8.36c0-6.77-1.52-11.81-8.82-11.81
		c-6.78,0-9.15,4.32-9.15,11.96v8.21H934.07z M915.93,268.36v11.38c0,6.48,1.53,12.68,8.98,12.68c7.46,0,8.64-5.48,8.64-11.53v-0.43
		h14.75v0.43c0,8.07-2.03,22.48-23.06,22.48c-20.51,0-24.24-11.1-24.24-26.08v-25.65c0-10.52,4.24-24.64,24.24-24.64
		c17.8,0,23.39,10.66,23.39,24.64v16.72H915.93z M875.75,258.13v-8.36c0-6.77-1.53-11.81-8.81-11.81c-6.78,0-9.16,4.32-9.16,11.96
		v8.21H875.75z M857.61,268.36v11.38c0,6.48,1.53,12.68,8.98,12.68c7.46,0,8.65-5.48,8.65-11.53v-0.43h14.75v0.43
		c0,8.07-2.03,22.48-23.05,22.48c-20.51,0-24.24-11.1-24.24-26.08v-25.65c0-10.52,4.24-24.64,24.24-24.64
		c17.8,0,23.39,10.66,23.39,24.64v16.72H857.61z M790.82,293.43c3.22-5.91,18.65-36.17,27.8-53.46h-25.26v-11.82h42.04v9.08
		c-1.86,4.04-20,40.06-26.95,53.17h27.29l-1.36,11.82h-43.57V293.43z M766.41,267.78h-3.56c-8.64,0-14.24,3.03-14.24,12.83v1.15
		c0,5.91,2.38,10.23,8.31,10.23c6.78,0,9.49-4.18,9.49-14.7V267.78z M781.16,288.1c0,4.76,0,11.53,0.34,14.12h-13.9
		c-0.34-1.59-1.02-4.61-1.02-5.62c-2.88,4.9-7.97,6.77-14.41,6.77c-12.88,0-17.97-9.94-17.97-21.33v-1.3
		c0-17.58,13.56-22.91,29.16-22.91h2.71v-10.37c0-6.2-1.02-9.8-6.95-9.8c-5.76,0-7.29,3.75-7.29,8.93v1.44h-14.92v-1.3
		c0-10.52,4.75-19.74,22.72-19.74c16.1,0,21.53,7.93,21.53,19.45V288.1z M646.21,249.63c0-14.27,0-18.01-0.17-21.47h14.41
		c0.51,2.16,0.51,4.18,0.68,6.63c2.71-4.9,7.8-7.78,15.09-7.78c6.95,0,11.7,2.45,13.73,8.21c2.88-4.32,7.46-8.21,16.44-8.21
		c9.15,0,16.95,3.75,16.95,18.16v57.06h-15.26v-54.61c0-5.48-1.53-8.93-7.12-8.93c-6.95,0-8.64,4.9-8.64,12.54v51.01h-15.26v-54.18
		c0-7.35-2.37-9.37-7.29-9.37c-6.95,0-8.48,5.04-8.48,12.68v50.87h-15.09V249.63z M616.03,267.78h-3.56
		c-8.65,0-14.24,3.03-14.24,12.83v1.15c0,5.91,2.38,10.23,8.31,10.23c6.78,0,9.49-4.18,9.49-14.7V267.78z M630.78,288.1
		c0,4.76,0,11.53,0.34,14.12h-13.9c-0.34-1.59-1.02-4.61-1.02-5.62c-2.88,4.9-7.97,6.77-14.41,6.77c-12.88,0-17.97-9.94-17.97-21.33
		v-1.3c0-17.58,13.56-22.91,29.16-22.91h2.71v-10.37c0-6.2-1.02-9.8-6.95-9.8c-5.77,0-7.29,3.75-7.29,8.93v1.44h-14.92v-1.3
		c0-10.52,4.75-19.74,22.72-19.74c16.1,0,21.53,7.93,21.53,19.45V288.1z"/>
            <g>
              <path class="st1" d="M739.06,378.85c1.03-1.27,2.23-2.3,3.58-3.07c1.36-0.77,2.9-1.16,4.65-1.16c1.42,0,2.7,0.27,3.85,0.81
			c1.15,0.54,2.12,1.34,2.93,2.4c0.81,1.06,1.43,2.37,1.86,3.93c0.44,1.57,0.65,3.36,0.65,5.4c0,1.81-0.24,3.49-0.73,5.05
			c-0.48,1.56-1.18,2.9-2.09,4.04c-0.91,1.14-2.03,2.03-3.34,2.69c-1.32,0.65-2.8,0.98-4.44,0.98c-1.5,0-2.79-0.25-3.86-0.76
			c-1.07-0.51-2.02-1.21-2.84-2.12v10.84h-4.33v-32.82h2.59c0.61,0,0.99,0.3,1.14,0.9L739.06,378.85z M739.27,393.66
			c0.79,1.07,1.65,1.82,2.59,2.25c0.94,0.44,1.98,0.65,3.15,0.65c2.29,0,4.05-0.82,5.28-2.44c1.23-1.63,1.84-3.95,1.84-6.97
			c0-1.6-0.14-2.97-0.42-4.11c-0.28-1.15-0.69-2.09-1.22-2.82c-0.53-0.73-1.19-1.27-1.96-1.61c-0.78-0.34-1.65-0.51-2.64-0.51
			c-1.4,0-2.63,0.32-3.69,0.97c-1.06,0.65-2.03,1.56-2.92,2.74V393.66z"/>
              <path class="st1" d="M761.44,378.51c1.36-1.31,2.82-2.28,4.38-2.93c1.56-0.64,3.3-0.97,5.2-0.97c1.37,0,2.59,0.23,3.65,0.68
			c1.07,0.45,1.96,1.08,2.69,1.89c0.73,0.81,1.27,1.78,1.65,2.93c0.37,1.15,0.56,2.4,0.56,3.78v15.68h-1.91
			c-0.42,0-0.74-0.07-0.97-0.21c-0.23-0.14-0.4-0.41-0.53-0.81l-0.48-2.32c-0.65,0.6-1.27,1.13-1.89,1.59
			c-0.61,0.46-1.26,0.85-1.94,1.16s-1.4,0.56-2.17,0.73c-0.77,0.17-1.62,0.25-2.55,0.25c-0.95,0-1.85-0.13-2.69-0.4
			c-0.84-0.27-1.57-0.67-2.19-1.2c-0.62-0.53-1.11-1.21-1.48-2.02s-0.54-1.78-0.54-2.89c0-0.97,0.27-1.9,0.8-2.8
			c0.53-0.9,1.4-1.69,2.59-2.38c1.19-0.69,2.75-1.26,4.67-1.71c1.92-0.44,4.28-0.7,7.07-0.76v-1.91c0-1.9-0.41-3.34-1.23-4.32
			c-0.82-0.98-2.03-1.46-3.61-1.46c-1.06,0-1.96,0.13-2.67,0.4c-0.72,0.27-1.34,0.57-1.86,0.9c-0.52,0.33-0.98,0.63-1.36,0.9
			c-0.38,0.27-0.75,0.4-1.13,0.4c-0.29,0-0.54-0.08-0.75-0.23c-0.21-0.15-0.39-0.34-0.53-0.57L761.44,378.51z M775.36,388.53
			c-1.98,0.06-3.68,0.22-5.07,0.47c-1.4,0.25-2.53,0.58-3.41,0.98c-0.88,0.4-1.52,0.88-1.91,1.43c-0.4,0.55-0.59,1.16-0.59,1.84
			c0,0.65,0.1,1.2,0.31,1.67c0.21,0.47,0.5,0.85,0.86,1.15c0.36,0.3,0.79,0.52,1.28,0.65c0.49,0.14,1.02,0.21,1.59,0.21
			c0.76,0,1.45-0.08,2.08-0.23c0.63-0.15,1.22-0.38,1.78-0.67c0.56-0.29,1.09-0.64,1.6-1.04c0.51-0.4,1-0.86,1.49-1.38V388.53z"/>
              <path class="st1" d="M790.22,379.96c0.78-1.68,1.73-2.99,2.86-3.93c1.13-0.94,2.51-1.42,4.14-1.42c0.52,0,1.01,0.06,1.49,0.17
			c0.48,0.11,0.9,0.29,1.27,0.53l-0.31,3.22c-0.1,0.4-0.34,0.6-0.73,0.6c-0.23,0-0.56-0.05-0.99-0.15c-0.44-0.1-0.93-0.15-1.48-0.15
			c-0.77,0-1.46,0.11-2.07,0.34c-0.61,0.23-1.15,0.56-1.62,1c-0.48,0.44-0.9,0.99-1.28,1.65c-0.38,0.65-0.72,1.4-1.03,2.24v15.49
			h-4.33v-24.52h2.47c0.47,0,0.79,0.09,0.97,0.27c0.18,0.18,0.3,0.48,0.36,0.92L790.22,379.96z"/>
              <path class="st1" d="M811.28,399.96c-1.94,0-3.42-0.54-4.47-1.62c-1.04-1.08-1.56-2.64-1.56-4.67v-15.01h-2.95
			c-0.26,0-0.48-0.08-0.65-0.23c-0.18-0.15-0.27-0.39-0.27-0.71V376l4.02-0.51l0.99-7.58c0.05-0.24,0.16-0.44,0.33-0.59
			c0.17-0.15,0.39-0.23,0.67-0.23h2.18v8.45h7.09v3.12h-7.09v14.72c0,1.03,0.25,1.8,0.75,2.3c0.5,0.5,1.15,0.75,1.94,0.75
			c0.45,0,0.84-0.06,1.17-0.18c0.33-0.12,0.62-0.25,0.86-0.4c0.24-0.15,0.45-0.28,0.62-0.4s0.32-0.18,0.45-0.18
			c0.23,0,0.43,0.14,0.61,0.41l1.26,2.06c-0.74,0.69-1.64,1.24-2.69,1.63C813.48,399.76,812.39,399.96,811.28,399.96z"/>
              <path class="st1" d="M843.84,374.66c1.79,0,3.4,0.3,4.84,0.89c1.44,0.6,2.66,1.45,3.68,2.54c1.02,1.1,1.79,2.42,2.34,3.98
			c0.54,1.56,0.81,3.3,0.81,5.22c0,1.94-0.27,3.68-0.81,5.23c-0.54,1.55-1.32,2.87-2.34,3.97c-1.02,1.1-2.24,1.94-3.68,2.53
			c-1.44,0.59-3.05,0.88-4.84,0.88c-1.81,0-3.43-0.3-4.88-0.88c-1.45-0.59-2.68-1.43-3.69-2.53c-1.02-1.1-1.8-2.42-2.34-3.97
			c-0.54-1.55-0.81-3.29-0.81-5.23c0-1.92,0.27-3.66,0.81-5.22c0.54-1.56,1.32-2.88,2.34-3.98c1.02-1.1,2.25-1.94,3.69-2.54
			C840.4,374.96,842.03,374.66,843.84,374.66z M843.84,396.54c2.42,0,4.23-0.81,5.42-2.43c1.19-1.62,1.79-3.88,1.79-6.79
			c0-2.92-0.6-5.2-1.79-6.83c-1.19-1.63-3-2.44-5.42-2.44c-1.23,0-2.3,0.21-3.21,0.63c-0.91,0.42-1.67,1.02-2.28,1.82
			c-0.6,0.79-1.06,1.76-1.36,2.92s-0.45,2.46-0.45,3.91c0,2.9,0.6,5.17,1.8,6.79C839.55,395.73,841.38,396.54,843.84,396.54z"/>
              <path class="st1" d="M862.01,399.57v-20.84l-2.71-0.31c-0.34-0.08-0.62-0.21-0.83-0.37c-0.22-0.17-0.33-0.41-0.33-0.74v-1.77h3.87
			v-2.37c0-1.4,0.2-2.65,0.59-3.74c0.4-1.09,0.96-2.01,1.69-2.76c0.73-0.75,1.62-1.32,2.65-1.71c1.03-0.39,2.19-0.58,3.49-0.58
			c1.1,0,2.11,0.16,3.03,0.48l-0.1,2.15c-0.03,0.39-0.25,0.6-0.64,0.63c-0.4,0.03-0.92,0.05-1.59,0.05c-0.74,0-1.42,0.1-2.02,0.29
			c-0.6,0.19-1.13,0.51-1.56,0.94c-0.44,0.44-0.77,1.01-1.01,1.72c-0.23,0.71-0.35,1.59-0.35,2.64v2.25h7.07v3.12h-6.92v20.91
			H862.01z"/>
              <path class="st1" d="M925.98,364.89v34.68h-4.11v-25.49c0-0.34,0.01-0.7,0.04-1.09c0.02-0.39,0.05-0.78,0.08-1.19l-11.91,21.69
			c-0.37,0.73-0.94,1.09-1.69,1.09h-0.68c-0.76,0-1.32-0.36-1.69-1.09l-12.15-21.78c0.1,0.86,0.15,1.65,0.15,2.37v25.49h-4.11
			v-34.68h3.46c0.42,0,0.74,0.04,0.97,0.12c0.23,0.08,0.44,0.31,0.65,0.68l11.98,21.35c0.19,0.39,0.38,0.79,0.57,1.21
			c0.19,0.42,0.36,0.85,0.52,1.28c0.16-0.44,0.33-0.87,0.51-1.3c0.18-0.43,0.37-0.83,0.58-1.22l11.76-21.32
			c0.19-0.37,0.41-0.6,0.64-0.68c0.23-0.08,0.56-0.12,0.98-0.12H925.98z"/>
              <path class="st1" d="M938.93,367.35c0,0.42-0.08,0.81-0.25,1.17s-0.4,0.69-0.68,0.97s-0.61,0.5-0.99,0.67
			c-0.38,0.16-0.78,0.24-1.2,0.24c-0.42,0-0.81-0.08-1.17-0.24c-0.36-0.16-0.68-0.38-0.96-0.67s-0.49-0.6-0.65-0.97
			c-0.16-0.36-0.24-0.75-0.24-1.17c0-0.42,0.08-0.82,0.24-1.2c0.16-0.38,0.38-0.71,0.65-0.99s0.59-0.5,0.96-0.67
			c0.36-0.16,0.75-0.24,1.17-0.24c0.42,0,0.82,0.08,1.2,0.24c0.38,0.16,0.71,0.38,0.99,0.67s0.51,0.61,0.68,0.99
			C938.85,366.54,938.93,366.94,938.93,367.35z M938.01,375.05v24.52h-4.31v-24.52H938.01z"/>
              <path class="st1" d="M949.17,379.96c0.78-1.68,1.73-2.99,2.86-3.93c1.13-0.94,2.51-1.42,4.14-1.42c0.52,0,1.01,0.06,1.49,0.17
			c0.48,0.11,0.9,0.29,1.27,0.53l-0.31,3.22c-0.1,0.4-0.34,0.6-0.73,0.6c-0.23,0-0.56-0.05-0.99-0.15c-0.44-0.1-0.93-0.15-1.48-0.15
			c-0.77,0-1.46,0.11-2.07,0.34c-0.61,0.23-1.15,0.56-1.62,1c-0.48,0.44-0.9,0.99-1.28,1.65c-0.38,0.65-0.72,1.4-1.03,2.24v15.49
			h-4.33v-24.52h2.47c0.47,0,0.79,0.09,0.97,0.27c0.18,0.18,0.3,0.48,0.36,0.92L949.17,379.96z"/>
              <path class="st1" d="M961.69,378.51c1.36-1.31,2.82-2.28,4.38-2.93c1.56-0.64,3.3-0.97,5.2-0.97c1.37,0,2.59,0.23,3.65,0.68
			c1.07,0.45,1.96,1.08,2.69,1.89c0.73,0.81,1.27,1.78,1.65,2.93c0.37,1.15,0.56,2.4,0.56,3.78v15.68h-1.91
			c-0.42,0-0.74-0.07-0.97-0.21c-0.23-0.14-0.4-0.41-0.53-0.81l-0.48-2.32c-0.65,0.6-1.27,1.13-1.89,1.59
			c-0.61,0.46-1.26,0.85-1.94,1.16c-0.68,0.31-1.4,0.56-2.17,0.73c-0.77,0.17-1.62,0.25-2.55,0.25c-0.95,0-1.85-0.13-2.69-0.4
			c-0.84-0.27-1.57-0.67-2.19-1.2c-0.62-0.53-1.11-1.21-1.48-2.02s-0.54-1.78-0.54-2.89c0-0.97,0.27-1.9,0.8-2.8
			c0.53-0.9,1.4-1.69,2.59-2.38c1.19-0.69,2.75-1.26,4.67-1.71c1.92-0.44,4.28-0.7,7.07-0.76v-1.91c0-1.9-0.41-3.34-1.23-4.32
			c-0.82-0.98-2.03-1.46-3.61-1.46c-1.06,0-1.96,0.13-2.67,0.4c-0.72,0.27-1.34,0.57-1.86,0.9c-0.52,0.33-0.98,0.63-1.36,0.9
			c-0.38,0.27-0.75,0.4-1.13,0.4c-0.29,0-0.54-0.08-0.75-0.23c-0.21-0.15-0.39-0.34-0.53-0.57L961.69,378.51z M975.6,388.53
			c-1.98,0.06-3.68,0.22-5.07,0.47c-1.4,0.25-2.53,0.58-3.41,0.98c-0.88,0.4-1.52,0.88-1.91,1.43c-0.4,0.55-0.59,1.16-0.59,1.84
			c0,0.65,0.1,1.2,0.31,1.67c0.21,0.47,0.5,0.85,0.86,1.15c0.36,0.3,0.79,0.52,1.28,0.65c0.49,0.14,1.02,0.21,1.59,0.21
			c0.76,0,1.45-0.08,2.08-0.23c0.63-0.15,1.22-0.38,1.78-0.67c0.56-0.29,1.09-0.64,1.6-1.04c0.51-0.4,1-0.86,1.49-1.38V388.53z"/>
              <path class="st1" d="M990.44,378.61c0.53-0.6,1.1-1.14,1.69-1.62c0.6-0.48,1.23-0.9,1.9-1.25c0.67-0.35,1.38-0.61,2.13-0.8
			c0.75-0.19,1.56-0.28,2.43-0.28c1.34,0,2.52,0.22,3.55,0.67c1.02,0.44,1.88,1.07,2.57,1.89c0.69,0.82,1.21,1.8,1.56,2.94
			c0.35,1.15,0.53,2.41,0.53,3.8v15.61h-4.33v-15.61c0-1.86-0.42-3.3-1.27-4.32c-0.85-1.03-2.13-1.54-3.86-1.54
			c-1.27,0-2.46,0.31-3.57,0.92s-2.13,1.44-3.06,2.49v18.06h-4.33v-24.52h2.59c0.61,0,0.99,0.3,1.14,0.9L990.44,378.61z"/>
              <path class="st1" d="M1020.58,399.96c-1.94,0-3.42-0.54-4.47-1.62c-1.04-1.08-1.56-2.64-1.56-4.67v-15.01h-2.95
			c-0.26,0-0.48-0.08-0.65-0.23c-0.18-0.15-0.27-0.39-0.27-0.71V376l4.02-0.51l0.99-7.58c0.05-0.24,0.16-0.44,0.33-0.59
			c0.17-0.15,0.39-0.23,0.67-0.23h2.18v8.45h7.09v3.12h-7.09v14.72c0,1.03,0.25,1.8,0.75,2.3c0.5,0.5,1.15,0.75,1.94,0.75
			c0.45,0,0.84-0.06,1.17-0.18c0.33-0.12,0.62-0.25,0.86-0.4c0.24-0.15,0.45-0.28,0.62-0.4s0.32-0.18,0.45-0.18
			c0.23,0,0.43,0.14,0.61,0.41l1.26,2.06c-0.74,0.69-1.64,1.24-2.69,1.63C1022.77,399.76,1021.69,399.96,1020.58,399.96z"/>
              <path class="st1" d="M1036.65,367.35c0,0.42-0.08,0.81-0.25,1.17s-0.4,0.69-0.68,0.97c-0.28,0.28-0.61,0.5-0.99,0.67
			c-0.38,0.16-0.78,0.24-1.2,0.24c-0.42,0-0.81-0.08-1.17-0.24c-0.36-0.16-0.68-0.38-0.96-0.67c-0.27-0.28-0.49-0.6-0.65-0.97
			c-0.16-0.36-0.24-0.75-0.24-1.17c0-0.42,0.08-0.82,0.24-1.2c0.16-0.38,0.38-0.71,0.65-0.99c0.27-0.28,0.59-0.5,0.96-0.67
			c0.36-0.16,0.75-0.24,1.17-0.24c0.42,0,0.82,0.08,1.2,0.24c0.38,0.16,0.71,0.38,0.99,0.67c0.28,0.28,0.51,0.61,0.68,0.99
			C1036.56,366.54,1036.65,366.94,1036.65,367.35z M1035.73,375.05v24.52h-4.31v-24.52H1035.73z"/>
              <path class="st1" d="M1057.07,379.09c-0.19,0.36-0.49,0.53-0.9,0.53c-0.24,0-0.52-0.09-0.82-0.27c-0.31-0.18-0.68-0.38-1.13-0.59
			c-0.44-0.22-0.97-0.42-1.59-0.61c-0.61-0.18-1.34-0.28-2.18-0.28c-0.73,0-1.38,0.09-1.96,0.28c-0.58,0.19-1.08,0.44-1.49,0.76
			c-0.41,0.32-0.73,0.7-0.94,1.13c-0.22,0.43-0.33,0.89-0.33,1.39c0,0.63,0.18,1.15,0.54,1.57c0.36,0.42,0.84,0.78,1.44,1.09
			c0.6,0.31,1.27,0.58,2.03,0.81c0.76,0.23,1.54,0.48,2.34,0.75c0.8,0.27,1.58,0.56,2.34,0.88c0.76,0.32,1.44,0.73,2.03,1.21
			c0.6,0.48,1.08,1.08,1.44,1.78c0.36,0.7,0.54,1.55,0.54,2.53c0,1.13-0.2,2.17-0.6,3.13c-0.4,0.96-1,1.79-1.79,2.49
			c-0.79,0.7-1.76,1.25-2.9,1.66c-1.15,0.4-2.47,0.61-3.97,0.61c-1.71,0-3.26-0.28-4.65-0.84c-1.39-0.56-2.56-1.27-3.53-2.14
			l1.02-1.65c0.13-0.21,0.28-0.37,0.46-0.48c0.18-0.11,0.4-0.17,0.68-0.17c0.29,0,0.6,0.11,0.92,0.34c0.32,0.23,0.71,0.48,1.17,0.75
			c0.46,0.27,1.02,0.52,1.68,0.75c0.66,0.23,1.48,0.34,2.47,0.34c0.84,0,1.57-0.11,2.2-0.33c0.63-0.22,1.15-0.51,1.57-0.88
			c0.42-0.37,0.73-0.8,0.93-1.28c0.2-0.48,0.3-1,0.3-1.55c0-0.68-0.18-1.24-0.54-1.68s-0.84-0.82-1.44-1.14
			c-0.6-0.31-1.28-0.59-2.04-0.82c-0.77-0.23-1.55-0.48-2.35-0.74c-0.8-0.26-1.58-0.55-2.35-0.88c-0.77-0.33-1.45-0.75-2.05-1.25
			c-0.6-0.5-1.08-1.12-1.44-1.85c-0.36-0.73-0.55-1.63-0.55-2.68c0-0.94,0.19-1.83,0.58-2.7c0.39-0.86,0.95-1.62,1.69-2.28
			c0.74-0.65,1.65-1.17,2.73-1.56c1.08-0.39,2.32-0.58,3.7-0.58c1.61,0,3.06,0.25,4.35,0.76c1.28,0.51,2.39,1.21,3.33,2.09
			L1057.07,379.09z"/>
            </g>
          </g>
</svg>
      </a>
    </div>
  </div>

  {% if page.footer %}
    <footer role="contentinfo" class = "footer__wrapper bg-dark-blue text-white py-6">
      <div class = "footer">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>
